/* Incremental style sheet for netscape navigator on linux */

/* Netscape table bug workaround.  Also use <BODY><DIV class="normal"> ... </DIV><TABLE></TABLE><DIV class="normal"> ... </DIV></BODY> */
BODY, .normal, TD, TH {
  font-family: sans-serif;
  font-size: 14pt;
}

/* At least try to make it look the same as on IE */
HR {
  line-height: 1.86ex;		/* 2 times font-size 13/font-size 14 */
}

H1 { font-size: 32pt }
H2 { font-size: 24pt }
H3 { font-size: 18pt }
H4 { font-family: "helvetica narrow", sans-serif; font-size: 18pt }
H5 { font-size: 14pt }

H1.function, H2.function, H3.function, H4.function, H5.function, H6.function { font-size: 14pt }

.code, .example-code, .nld, .output, .example-output {
  font-family: courier;
  font-size: 14pt;
}

.H1code { font-size: 32pt }
.H2code { font-size: 24pt }
.H3code { font-size: 18pt; font-weight: bold }
.H4code { font-size: 14pt; font-weight: bold }
.H5code { font-size: 13pt; font-weight: bold }
.H6code { font-size: 12pt; font-weight: bold }

/* Header styles */

.header {
  font-family: sans-serif;
  font-size: 18pt;
}

/* Table of contents styles */

BODY.toc {
  font-size: 14pt;
}

H1.toc { font-size: 24pt }

.toc-header1 {
  font-family   : sans-serif;
  font-size     : 18pt;
  margin-bottom : 2;
  margin-top    : 3;
  margin-left   : 0;
  font-weight   : bold;
}

.toc-number2f {
  font-family   : times;
  font-size     : 12pt;
  margin-bottom : 2;
  margin-top    : 0;
}

.toc-header2f {
  font-family   : sans-serif;
  font-size     : 14pt;
  margin-bottom : 2;
  margin-top    : 0;
  font-weight   : normal;
}

.toc-number2 {
  font-family   : times;
  font-size     : 12pt;
  margin-bottom : 2;
  margin-top: 15;
}

.toc-header2 {
  font-family   : sans-serif;
  font-size     : 14pt;
  margin-bottom : 2;
  margin-top    : 15;
  font-weight   : normal;
}

.toc-number3 {
  font-family   : times;
  font-size     : 12pt;
  margin-bottom : 2;
}

.toc-header3 {
  font-family   : sans-serif;
  font-size     : 13pt;
  margin-bottom : 2;
  margin-left   : 4;
}

.toc-number4 {
  font-family   : times;
  font-size     : 12pt;
  margin-bottom : 2;
}

.toc-header4 {
  font-family   : sans-serif;
  font-size     : 12pt;
  margin-bottom : 2;
  margin-left   : 8;
}

.toc-code2 {
  font-family: courier;
  font-size: 16pt;
}

.toc-code3 {
  font-family: courier;
  font-size: 16pt;
}

