H1 {
 text-align : center;
 font-size : 20pt;
}
A.qindex {
}
A.qindexRef {
}
A.el {
  text-decoration : none;
  font-weight : normal;
}
A.elRef {
  font-weight : bold;
}
A.code {
  text-decoration : none;
  font-weight : normal;
  color : #4444ee;
}
A.codeRef {
  font-weight : normal;
  color : #4444ee;
}
DL.el {
  margin-left : -1cm;
}
DIV.fragment {
  width : 100%;
  border : none;
  background-color : #eeeeee;
  font-family : monospace;
}
PRE.DIV {
  width : 100%;
  border : none;
  background-color : #eeeeee;
  font-family : monospace;
  padding-top : 0em;
  padding-bottom : 0em;
}
DIV.ah {
  background-color : black;
  font-weight : bold;
  color : #ffffff;
  margin-bottom : 3px;
  margin-top: 3px;
}
TD.md {
  background-color : #f2f2ff;
  font-weight : bold;
}
TD.mdname1 {
  color : #602020;
  background-color : #f2f2ff;
  font-weight : bold;
}
TD.mdname {
  background-color : #f2f2ff;
  font-weight : bold;
  color : #602020;
  width : 600px;
}
DIV.groupHeader {
  margin-left : 16px;
  margin-top : 12px;
  margin-bottom : 6px;
  font-weight : bold;
}
DIV.groupText {
  margin-left : 16px;
  font-family: sans-serif; font-style: italic;
  font-size : smaller;
}
FONT.keyword {
  color : #008000;
}
FONT.keywordtype {
  color : #604020;
}
FONT.keywordflow {
  color : #e08000;
}
FONT.comment {
  color : #800000;
}
FONT.preprocessor {
  color : #806020;
}
FONT.stringliteral {
  color : #002080;
}
FONT.charliteral {
  color : #008080;
}
IMG.formulaInl {
  vertical-align : middle;
}
SPAN.formula {
  font-family : times;
  white-space : nowrap;
}
.formula SUP {
  font-size : 70%;
}
.formula SUP SUP {
  font-size : 90%;
}
.formula SUB {
  font-size : 80%;
  vertical-align : -20%;
}
.formulaF SUB {
  font-family : courier;
  white-space : nowrap;
  font-size : 64%;
  vertical-align : -36%;
}
SPAN.longformula {
  font-family : Times;
}
.longformula SUP {
  font-size : 70%;
}
.longformula SUB {
  font-size : 80%;
  vertical-align : -20%;
}
PRE.pointmatrix {
  white-space : pre;
  color : black;
}
IMG.formulaDsp {
  margin-left : 8ex;
  padding-left : 0;
  padding-right : 0;
}
SPAN.formulaDsp {
  margin-left : 8ex;
  padding-left : 0;
  padding-right : 0;
}
.vbars {
  border-left-style : solid;
  border-right-style : solid;
  border-width : thin;
  padding-left : 0.4ex;
  padding-right : 2pt;
  margin-right : 0.4ex;
}
DIV.theorem {
  margin-left : 8ex;
}
.cyclic TD {
  border-left-style : none;
  border-right-style : solid;
  border-top-style : none;
  border-bottom-style : solid;
  border-width : 1px;
  padding : 4px;
  margin : 0;
  text-align : right;
}
.structure TD {
  border-left-style : none;
  border-right-style : solid;
  border-top-style : none;
  border-bottom-style : solid;
  border-width : 1px;
  padding : 4px;
  margin : 0;
  text-align : right;
}
.nopotc TD {
  background-color : #ffeedd;
  border-left-style : none;
  border-right-style : solid;
  border-top-style : solid;
  border-bottom-style : solid;
  border-width : 1px;
  border-top-width : 2px;
  padding : 4px;
  margin : 0;
  text-align : right;
}
TABLE.point {
  border-style : solid;
  border-top-width : 2px;
  border-bottom-width : 3px;
  border-left-width : 4px;
  border-right-width : 3px;
}
TABLE.point TD.header {
  background-color : #f8f8ff;
  border-right-width : 2px;
  white-space : nowrap;
  text-align : left;
}
TD.legend {
  vertical-align : top;
  padding-left : 16px;
  border-style : none;
}
TD.abmap
{
  vertical-align : top;
}
TD.abmap IMG {
  border-style : solid;
  border-width : 1px;
}
.table TABLE {
  border-style : solid;
  border-width : 1px;
  margin-left : 8ex;
}
DIV.me {
  margin-left : 2ex;
  margin-right : 2ex;
  padding : 1ex;
  background-color : #ffeedd;
}
DIV.karl {
  border-style : solid;
  border-width : 2px;
  padding-left : 2ex;
  padding-right : 2ex;
  margin-left : 2ex;
  margin-right : 2ex;
}
table.FEC {
 border-style : solid;
}
table.FEC TD.generator {
  border-right: 0;
}
table.FEC TD.equal {
  border-left: 0;
  border-right: 0;
}
TD.star {
 text-align : center;
}
table.FEC TD.element {
  border-left: 0;
}
table.FEC TD.A {
  background-color: #000080;
}
table.FEC TD.B {
  background-color: #0000ff;
}
table.FEC TD.C {
  background-color: #008080;
}
table.FEC TD.D {
  background-color: #0080ff;
}
table.FEC TD.E {
  background-color: #00ffff;
}
table.FEC TD.F {
  background-color: #800000;
}
table.FEC TD.G {
  background-color: #800080;
}
table.FEC TD.H {
  background-color: #8000ff;
}
table.FEC TD.I {
  background-color: #808000;
}
table.FEC TD.J {
  background-color: #808080;
}
table.FEC TD.K {
  background-color: #8080ff;
}
table.FEC TD.L {
  background-color: #80ff00;
}
table.FEC TD.M {
  background-color: #80ff80;
}
table.FEC TD.N {
  background-color: #80ffff;
}
table.FEC TD.O {
  background-color: #ff0000;
}
table.FEC TD.P {
  background-color: #ff0080;
}
table.FEC TD.Q {
  background-color: #ff00ff;
}
table.FEC TD.R {
  background-color: #ff8000;
}
table.FEC TD.S {
  background-color: #ff8080;
}
table.FEC TD.T {
  background-color: #ffff00;
}
table.FEC TD.U {
  background-color: #ffff80;
}
table.eqn {
  text-align: right;
  width: 97%;
  border: 0;
}
table.eqn TD {
  border: 0;
}
table.FECsummary TD {
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: pre;
}
table.FECsummary TD.count {
  text-align: right;
}
table.FECsummary TD.known {
  background-color: #80ff80;
}
table.FECsummary TD.target {
  background-color: #ff8080;
}
table.FECsummary TD.depends {
  background-color: #8080ff;
}
