<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="en-us">
<!-- $Id: header.html,v 1.7 2000/08/03 22:53:23 libcw Exp $ -->

<HEAD>
<META name="Author" content="Carlo Wood">
<META http-equiv="content-type" content="text/html; charset=iso-8859-1">
<SCRIPT TYPE="text/javascript" SRC="../scripts/detect_browser.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="../scripts/load_style_sheets.js"></SCRIPT>
</HEAD>

<BODY class="header">
<DIV class="normal">

<TABLE height=74 cellpadding=0 cellspacing=0 border=0>
  <TR>
    <TD width=237 valign=top>
      <IMG width=237 height=74 src="../images/libcw_logo_02.png" alt="" align=top border=0>
    </TD>
    <TD width="100%" align=center>
      <DIV class="header">
      An Object Oriented C++ library for networking applications.
      </DIV>
      <DIV class="header-copyright">
                   By Carlo Wood, &copy;1999, 2000.
      </DIV>
    </TD>
  </TR>
</TABLE>

</DIV>
</BODY>
</HTML>
