<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="en-us">
<!-- $Id: main.html,v 1.9 2000/08/03 13:53:05 libcw Exp $ -->

<HEAD>
<META name="Author" content="Carlo Wood">
<META http-equiv="content-type" content="text/html; charset=iso-8859-1">
<TITLE>libcw: An Object Oriented C++ library for networking applications</TITLE>
<SCRIPT TYPE="text/javascript" SRC="../scripts/detect_browser.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="../scripts/load_style_sheets.js"></SCRIPT>
</HEAD>

<BODY>
<DIV class="normal">

<P><IMG width=247 height=63 src="../images/UnderConstruction.gif" alt="This page is incomplete and being changed daily" align=bottom border=0></P>

<H1>Main header</H1>

<HR SIZE=1 NOSHADE>

<A name="name"></A>
<H2>Header</H2>

<P>Text</P>
<PRE>Preformatted text</PRE>

<HR SIZE=1 NOSHADE>
<ADDRESS>Copyright &copy; 2000 Carlo Wood.&nbsp; All rights reserved.</ADDRESS>

</DIV>
</BODY>
</HTML>
