<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<HTML LANG="en-us">
<!-- $Id: max.html,v 1.3 2000/08/02 12:18:57 libcw Exp $ -->

<HEAD>
<META name="Author" content="Carlo Wood">
<META http-equiv="content-type" content="text/html; charset=iso-8859-1">
<TITLE>libcw: An Object Oriented C++ library for networking applications</TITLE>
</HEAD>

<SCRIPT TYPE="text/javascript">
  url = document.location.href.toString();
  pos = url.indexOf("?");
  chap = url.substring(pos+1,url.length);

  with(document)
  {
    write("<FRAMESET rows=* border=0 frameborder=no>");
      write("<FRAMESET cols=108,* border=0 frameborder=no>");
	write("<FRAME name=\"navigation bar\" src=nav.html?" + chap + " scrolling=off>");
	write("<FRAME name=main src=../" + chap + "/toc.html scrolling=auto>");
      write("</FRAMESET>");
    write("</FRAMESET>");
  }
</SCRIPT>
